extends layout

block content
  h1 Find your flight!
  p Select your airplane below to see its current schedule.
  #wrapper
    #trainList
      h2 Airplanes
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a airplane to view its current schedule.
